@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #28FA35;
    --cor2: #289935;
    --cor3: #28FF74;
    --cor4: #C5ebd6;
    --cor5: #83e1ad;
    --cor6: #3ddc84;
    --cor7: #2fa866;
    --cor8: #1a5c37;
    --cor9: #063d1e;

    -fonte-padr-ao: Arial, Verdana, Helvatica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}


body {
    color: var(--cor1);
    background-color: var(--cor9);
    font-family: var(--fonte-minecraft);
}



header {
    text-align: center;
    background-color: var(--cor9);
    font-size: 25px;
}

main {
    background-color: white;
    margin-left: 5em;
    border-radius: 8px 8px;
    margin-right: 5em;
    font-family: var(--fonte-minecraft);
    box-shadow: 0px 0px 7px black;

    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

main p {
    color: black;
    margin: auto;
    
}

main strong {
    color: var(--cor2);
    font-weight: bold;
    padding: 2px 6px;
}

main div.center {

    text-align: center;
}

main img {
    width: 87%;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
}

main a:hover {
    background-color: #063d1e;
}



article h2 {
    color: black;
    padding-left: 1.7em;
    padding-top: 1.1em;
    margin: auto;
}

article > p {
    padding-top: 1.1em;
    padding-left: 32px;
    font-size: 1.2em;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 1.2em;
}

